<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>AV Admin</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="">
    <!-- Template CSS -->
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap logo menu-absolute m-0 h6">
                AV TALKIES
                <span class="text-primary ">.</span>
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/home"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu active">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Product Manage</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/products">Add Product</a>
                        <a href="/admin/productlist">List Product </a>
                        <a href="/admin/category">Categories</a>
                    </div>
                </li>

                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Order Manage</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/orderManage">Order list 1</a>
                        <a href="/admin/salesreport">Order list 2</a>

                    </div>
                </li>

                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/users"> <i class="icon material-icons md-store"></i>
                        <span class="text">User Manage</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/users">List Users</a>

                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href=""> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Coupon Manage</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/coupon">Add Coupon</a>
                        <a href="/admin/coupons">List Coupon</a>

                    </div>
                </li>


            </ul>
            <hr>

            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <!-- <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i
                                class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">

                    </datalist>
                </form> -->
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">

                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>

                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle" src="/assets/imgs/people/user.png"
                                alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">

                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                Settings</a>


                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/logout"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>

        <section class="content-main">
            <form action="" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-8">
                        <div class="content-header">
                            <h2 class="content-title">Edit Product</h2>
                            <div>
                                <input type="hidden" name="id" value="" />
                                <!-- <input type="submit" value="Update User"
                                    class="btn btn-light rounded font-sm mr-5 text-body hover-up" /> -->
                                <button type="submit" class="btn btn-md rounded font-sm hover-up">Update</button>

                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-9">
                            <div class="card mb-4">

                                <div class="card-body">

                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Product name</label>
                                        <input type="text" name="product_name" class="form-control" id="product_name"
                                            value="<%= product.product_name %>">
                                    </div>
                                    <div class="mb-4">
                                        <label for="category_id">Category</label>
                                        <select class="form-control" name="category_id" id="category_id">
                                            <option selected>Select category</option>

                                            <% categories.forEach(function(category) { %>
                                                <option value="<%= category._id %>" <% if
                                                    (product.category_id.toString()===category._id.toString()) { %>
                                                    selected
                                                    <% } %>
                                                        >
                                                        <%= category.categoryname %>
                                                </option>
                                                <% }); %>
                                        </select>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Full description</label>
                                        <textarea name="description" class="form-control"
                                            rows="4"><%= product.description %></textarea>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">Regular price</label>
                                                <div class="row gx-2">
                                                    <input name="product_price" value="<%= product.product_price%>"
                                                        type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">Offer percentage</label>
                                                <input name="discountPercentage"
                                                    value="<%= product.discountPercentage%>" type="text"
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">Quantity</label>
                                                <input name="quantity" placeholder="Quantity"
                                                    value="<%= product.quantity%>" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h4>Media</h4>
                                    <div class="card-body">
                                        <div class="input-upload">
                                            <label class="form-label">Image</label>
                                            <% if (product.image.length < 4) { %>
                                                <input type="file" name="images" class="form-control" id="product_image"
                                                    accept="image/*" multiple />
                                                <% } else { %>
                                                    <p style="color: rgb(7, 7, 7);">*Maximum photos exceeded.detete the
                                                        photo.
                                                    </p>
                                                    <% } %>

                                                        <div id="image-preview-container">
                                                            <% product.image.forEach((image, index)=> { %>
                                                                <div style="display: flex; align-items: center;">
                                                                    <img src="/public/uploadProduct/<%= image %>"
                                                                        alt="<%= product.product_name %>">

                                                                    <button type="button" class="btn btn-link"
                                                                        data-index="<%= index %>"
                                                                        data-product-id="<%= product._id %>">
                                                                        <i class="material-icons md-delete"></i>
                                                                    </button>
                                                                </div>
                                                                <% }) %>
                                                        </div>
                                                        <p id="imageError" class="error-message" style="color: red;">
                                                        </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">

        </footer>
    </main>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const deleteButtons = document.querySelectorAll(".btn-link");
            const imagePreviewContainer = document.getElementById("image-preview-container");
            const imageInput = document.getElementById("product_image");

            imageInput.addEventListener("change", function () {
                const newImages = imageInput.files;
                const totalImages = imagePreviewContainer.children.length + newImages.length;

                if (totalImages > 4) {
                    document.getElementById("imageError").textContent = "Maximum of 4 images allowed.";
                    return;
                }

                // Clear any previous error message
                document.getElementById("imageError").textContent = "";

                for (let i = 0; i < newImages.length; i++) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        const imageDiv = document.createElement("div");
                        imageDiv.style.display = "flex";
                        imageDiv.style.alignItems = "center";

                        const image = document.createElement("img");
                        image.src = e.target.result;
                        image.alt = "Newly added image";

                        const deleteButton = document.createElement("button");
                        deleteButton.type = "button";
                        deleteButton.classList.add("btn-link");
                        deleteButton.innerHTML = '<i class="material-icons md-delete"></i>';
                        deleteButton.addEventListener("click", function () {
                            deleteImage("new", i); // 'new' indicates a newly added image
                            imageDiv.remove(); // Remove the newly added image element
                        });

                        imageDiv.appendChild(image);
                        imageDiv.appendChild(deleteButton);
                        imagePreviewContainer.appendChild(imageDiv);
                    };

                    reader.readAsDataURL(newImages[i]);
                }
            });

            deleteButtons.forEach(function (button) {
                button.addEventListener("click", function () {
                    const index = button.getAttribute("data-index");
                    const productId = button.getAttribute("data-product-id");

                    if (index === "new") {
                        // Handle the deletion of a newly added image here
                        // No need to send an AJAX request, just remove the element
                        const imageDiv = button.parentElement;
                        imageDiv.remove();
                    } else {
                        // Send an AJAX request to the server to delete the image
                        deleteImage(index, productId);
                    }
                });
            });
        });





        document.addEventListener("DOMContentLoaded", function () {
            const deleteButtons = document.querySelectorAll(".btn-link");

            deleteButtons.forEach(function (button) {
                button.addEventListener("click", function (event) {
                    const index = button.getAttribute("data-index");
                    const productId = button.getAttribute("data-product-id");

                    if (index === "new") {
                        // Handle the deletion of a newly added image here
                        // No need to send an AJAX request, just remove the element
                        const imageDiv = button.parentElement;
                        imageDiv.remove();
                    } else {
                        // Send an AJAX request to the server to delete the image
                        deleteImage(event, index, productId);
                    }
                });
            });
        });

        function deleteImage(event, index, productId) {
            event.preventDefault(); // Prevent the default form submission

            console.log(productId, "=====");
            console.log(index, "====");

            fetch("/admin/deleteeditproduct", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ productId: productId, index: index })
            }).then(response => response.json())
                .then(data => {
                    console.log("item deleted", data);
                    window.location.reload();
                })
                .catch(Err => {
                    console.log("error deleting item", Err);
                });
        }
    </script>
    <script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/vendors/select2.min.js"></script>
    <script src="/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/assets/js/main.js" type="text/javascript"></script>
</body>



</html>