<% include('../layouts/header.ejs') %>
<style>
  body {
    background-image: url("/assets/two.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .a {
    color: rgb(78, 188, 78);
  }
  .container {
    margin-top: 20px;
  }
  .center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 80vh;
  }
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .table {
    width: 50%;
  }

  .table td {
    padding: 10px;
  }
</style>

<div class="center-div">
  <div class="container border py-5 mt-5 w-50">
    <h1 class="a">Welcome, <%= admin.name %></h1>

    <button>
      <a href="/admin/dashboard" class="a btn btn-primary">Dashboard</a>
    </button>

    <table class="table">
      <tr>
        <td>
          <img
            src="/userImages/<%= admin.image %>"
            width="100px"
            height="100px"
            alt="<%= admin.image %>"
          />
        </td>
      </tr>
      <tr>
        <td class="a">Email</td>
        <td class="a"><%= admin.email %></td>
      </tr>
      <tr>
        <td class="a">Mobile</td>
        <td class="a"><%= admin.mobile %></td>
      </tr>
    </table>

    <button><a href="/admin/logout" class="a btn btn-danger">Logout</a></button>
  </div>
</div>
<% include('../layouts/footer.ejs') %>
