<%- include('../layouts/homeLayout/header')%>
<div class="page-heading bg-light">
  <div class="container">
    <div class="row align-items-end text-center">
      <div class="col-lg-7 mx-auto">
        <h1>Details</h1>
        <p class="mb-4"><a href="/home">HOME</a> / <strong>DETAILS</strong></p>
      </div>
    </div>
  </div>
</div>
<div class="product_image_area section_padding">
  <div class="container">
    <!-- <div id="image-slider" class="carousel slide" data-ride="carousel">
      <a class="carousel-control-prev" href="#image-slider" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#image-slider" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div> -->
  
          <div class="row s_product_inner justify-content-between">
              <div class="col-lg-7 col-xl-7">
                  <div class="product_slider_img">
                      <div id="vertical">
                          <% product.image.forEach((image,index) => { %>
                              <div data-thumb= "/public/uploadProduct/<%= image %>" >
                                  <img src="/public/uploadProduct/<%= image %>" alt="Products Image <%= index + 1 %>"/>
                              </div>
                          <% }); %>
                      </div>
                  </div>
              </div>
              <div class="col-lg-5 col-xl-4">
                  <div class="s_product_text">
                      <!-- <h5>previous <span>|</span> next</h5> -->
                      <h3><%= product.product_name %></h3>
                      <div class="product-price">
                        <del class="old-price">₹<%= product.product_price %></del>
                        <span class="new-price"><h2>₹<%= product.product_sales_price %></h2></span>
                      </div>
            
                      <ul class="list">
                          <li>
                              <a class="active" href="#">
                                  <span>Category</span> : <%= categoryName %>
                              </a>
                          </li>
                          <% if (product.quantity <= 0) { %>
                          <li>
                              <a href="#"> <span>Availability</span> : out of stock </a>
                          </li>
                          <% } else { %>
                            <li>
                              <a href="#"> <span>Availability</span> : in stock </a>
                          </li>
                          <% } %>
                      </ul>
                      <p><%= product.description %></p>
                      <!-- Add your product description field here -->
                      <div class="card_area d-flex justify-content-between align-items-center">
                        <button class="btn btn-primary add-to-cart btn_3" onclick="addtocart('<%= product._id %>')" data-product-id="<%= product._id %>">Add to Cart</button>
                        <a href="#" class="like_us" onclick="addToWishlist('<%= product._id %>')"> 
                            <svg class="" viewBox="0 0 24 24" width="15" height="15" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="m12 20.703.343.667a.748.748 0 0 1-.686 0l-.003-.002-.007-.003-.025-.013a31.138 31.138 0 0 1-5.233-3.576C3.8 15.573 1 12.332 1 8.514v-.001C1 5.053 3.829 2.5 6.736 2.5 9.03 2.5 10.881 3.726 12 5.605 13.12 3.726 14.97 2.5 17.264 2.5 20.17 2.5 23 5.052 23 8.514c0 3.818-2.801 7.06-5.389 9.262a31.148 31.148 0 0 1-5.233 3.576l-.025.013-.007.003-.002.001ZM6.736 4C4.657 4 2.5 5.88 2.5 8.514c0 3.107 2.324 5.96 4.861 8.12a29.655 29.655 0 0 0 4.566 3.175l.073.041.073-.04c.271-.153.661-.3801 1.13-.674.94-.588 2.19-1.441 3.436-2.502 2.537-2.16 4.861-5.013 4.861-8.12C21.5 5.88 19.343 4 17.264 4c-2.106 0-3.801 1.389-4.553 3.643a.751.751 0 0 1-1.422 0C10.537 5.389 8.841 4 6.736 4Z">
                                </path>
                            </svg> 
                        </a>
                      </div>
                  </div>
              </div>
          </div>
  
</div>
  </div>
</div>
<div class="untree_co-section bg-light">
  <div class="container">
    <div class="row align-items-stretch">
      <div class="col-12 col-sm-6 col-md-4 mb-3 mb-md-0">
        <div class="feature h-100">
          <div class="icon mb-4">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-truck" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5v7h-1v-7a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .5.5v1A1.5 1.5 0 0 1 0 10.5v-7zM4.5 11h6v1h-6v-1z"/>
              <path fill-rule="evenodd" d="M11 5h2.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5h-1v-1h1a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4.5h-1V5zm-8 8a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 1a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
              <path fill-rule="evenodd" d="M12 13a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 1a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
            </svg>
          </div>
          <h3>Worldwide Delivery</h3>
          <p>Far far away, behind the word mountains, far from the countries.</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-3 mb-md-0">
        <div class="feature h-100">
          <div class="icon mb-4">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-shield-lock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M5.443 1.991a60.17 60.17 0 0 0-2.725.802.454.454 0 0 0-.315.366C1.87 7.056 3.1 9.9 4.567 11.773c.736.94 1.533 1.636 2.197 2.093.333.228.626.394.857.5.116.053.21.089.282.11A.73.73 0 0 0 8 14.5c.007-.001.038-.005.097-.023.072-.022.166-.058.282-.111.23-.106.525-.272.857-.5a10.197 10.197 0 0 0 2.197-2.093C12.9 9.9 14.13 7.056 13.597 3.159a.454.454 0 0 0-.315-.366c-.626-.2-1.682-.526-2.725-.802C9.491 1.71 8.51 1.5 8 1.5c-.51 0-1.49.21-2.557.491zm-.256-.966C6.23.749 7.337.5 8 .5c.662 0 1.77.249 2.813.525a61.09 61.09 0 0 1 2.772.815c.528.168.926.623 1.003 1.184.573 4.197-.756 7.307-2.367 9.365a11.191 11.191 0 0 1-2.418 2.3 6.942 6.942 0 0 1-1.007.586c-.27.124-.558.225-.796.225s-.526-.101-.796-.225a6.908 6.908 0 0 1-1.007-.586 11.192 11.192 0 0 1-2.417-2.3C2.167 10.331.839 7.221 1.412 3.024A1.454 1.454 0 0 1 2.415 1.84a61.11 61.11 0 0 1 2.772-.815z"/>
              <path d="M9.5 6.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
              <path d="M7.411 8.034a.5.5 0 0 1 .493-.417h.156a.5.5 0 0 1 .492.414l.347 2a.5.5 0 0 1-.493.585h-.835a.5.5 0 0 1-.493-.582l.333-2z"/>
            </svg>
          </div>
          <h3>Secure Payments</h3>
          <p>Far far away, behind the word mountains, far from the countries.</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-3 mb-md-0">
        <div class="feature h-100">
          <div class="icon mb-4">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-counterclockwise" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M12.83 6.706a5 5 0 0 0-7.103-3.16.5.5 0 1 1-.454-.892A6 6 0 1 1 2.545 5.5a.5.5 0 1 1 .91.417 5 5 0 1 0 9.375.789z"/>
              <path fill-rule="evenodd" d="M7.854.146a.5.5 0 0 0-.708 0l-2.5 2.5a.5.5 0 0 0 0 .708l2.5 2.5a.5.5 0 1 0 .708-.708L5.707 3 7.854.854a.5.5 0 0 0 0-.708z"/>
            </svg>
          </div>
          <h3>Simple Returns</h3>
          <p>Far far away, behind the word mountains, far from the countries.</p>
        </div>
      </div>
    </div>
  </div>
</div> <!-- /.untree_co-section -->

<div class="site-footer">


  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="widget mb-4">
          <h3 class="mb-2">About UntreeStore</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate modi cumque rem recusandae quaerat at asperiores beatae saepe repudiandae quam rerum aspernatur dolores et ipsa obcaecati voluptates libero</p>
        </div>
        <div class="widget">
          <h3>Join our mailing list and receive exclusives</h3>
          <form action="#" class="subscribe">
            <div class="d-flex">
              <input type="email" class="form-control" placeholder="Email address">
              <input type="submit" class="btn btn-black" value="Subscribe">
            </div>
          </form>

          
        </div>
      </div>
      <div class="col-lg-2">
        <div class="widget">
          <h3>Help</h3> 
          <ul class="list-unstyled">
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Account</a></li>
            <li><a href="#">Shipping</a></li>
            <li><a href="#">Returns</a></li>
            <li><a href="#">FAQ</a></li>   
          </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="widget">
          <h3>About</h3>
          <ul class="list-unstyled">
            <li><a href="#">About us</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">FAQ</a></li>   
          </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="widget">
          <h3>Shop</h3>
          <ul class="list-unstyled">
            <li><a href="#">Store</a></li>
            <li><a href="#">Gift Cards</a></li>
            <li><a href="#">Student Discount</a></li>
          </ul>
        </div>
      </div>
      
    </div>


    <div class="row mt-5">
      <div class="col-12 text-center">
        <ul class="list-unstyled social">
          <li><a href="#"><span class="icon-facebook"></span></a></li>
          <li><a href="#"><span class="icon-instagram"></span></a></li>
          <li><a href="#"><span class="icon-linkedin"></span></a></li>
          <li><a href="#"><span class="icon-twitter"></span></a></li>
        </ul>
      </div>
      <!-- <div class="col-12 text-center copyright">
        <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a> 
        </p>

      </div> -->
    </div>
  </div> <!-- /.container -->
</div> <!-- /.site-footer -->

<div id="overlayer"></div>
<div class="loader">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
  const mainImage = document.getElementById('mainImage');
  const thumbnailImages = document.querySelectorAll('.thumbnail');

  thumbnailImages.forEach((thumbnail) => {
    thumbnail.addEventListener('click', function () {
      const imageSrc = thumbnail.getAttribute('data-image');
      mainImage.src = imageSrc;
      mainImage.setAttribute('data-thumb', imageSrc);
    });
  });
});

</script>

<script>
  function addtocart(productId) {
    console.log(productId);
    fetch("/add-item-to-cart", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ productId }),
    })
      .then((response) => {
        if (response.ok) {
          return response.json();
        } else {
          throw new Error("Network response was not ok");
        }
      })
      .then((data) => {
        console.log(data);
        const updatedCartQuantity = data.cartQuantity;
        const itemInCartElement = document.getElementById("item-in-cart");
        if (itemInCartElement) {
          itemInCartElement.textContent = updatedCartQuantity.toString();
        }
        // Display a SweetAlert2 notification for "Added to cart"
        Swal.fire({
          position: 'center',
          icon: 'success',
          title: 'Added to cart',
          showConfirmButton: false,
          timer: 1000
        });
      })
      .catch((error) => {
        console.log(error);
      });
  }
</script>




<script>
  async function addToWishlist(productId) {
    try {
      const response = await fetch("/add-item-to-wishlist", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ productId }),
      });

      if (response.ok) {
        const data = await response.json();
        if (data.success) {
          // Product added to wishlist successfully, show a SweetAlert2 success notification
          Swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Added to wishlist successfully',
            showConfirmButton: false,
            timer: 1000
          });
        } else {
          // Handle error response here if needed
          console.error(data.message);
        }
      } else {
        // Handle network error here if needed
        console.error("Network response was not ok");
      }
    } catch (error) {
      // Handle other errors here if needed
      console.error(error);
    }
  }
</script>



<%- include('../layouts/homeLayout/footer')%>
